<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'blue' : 'transparent'}" *ngFor="let number of oddNumbers">
            {{number}}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: even % 2 === 0}"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'blue' : 'transparent'}" *ngFor="let number of evenNumbers">
            {{number}}
          </li>
        </div>
      </ul>
      <p appHighlight>A basic directive is a fundamental building block that allows you to extend the HTML
        syntax and create reusable components or add behavior to existing elements. Directives in Angular are denoted by
        an attribute or an element name in the HTML markup</p>
      <p [appBetterHighlight]="'red'" defaultColor="yellow">The Renderer2 API is a service that allows you to
        manipulate the
        DOM
        in a way that is
        independent of the underlying platform. It provides a safer and more reliable way to interact with the DOM
        compared to direct manipulation.</p>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>